/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;                               /* обнуляем отступы и убираем бордюры */
    vertical-align: baseline;          /* приводим все к одной базовой линии */
    background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
    font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
    border-collapse: collapse;
    border-spacing: 0;
}
td, td img {
    vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
}
input, select, button, textarea {
    margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
    font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
    outline: none;
}
input[type="password"], textarea {
    padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul {
    list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
    min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #8d8d8e;
    text-align: left;
    font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
    min-height:100%;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
    text-decoration: underline;
}
a:hover {
    color: #f45a40;
    text-decoration:none;
}
a:focus, a:active {
    color: #f45a40;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}
img{

    max-width:100%;
}
.clr{
    clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

.center_block_main {
    max-width: 960px;
    margin: 0 auto;
}

/*=========================== content ================================*/
.background_wrapper {
    max-width: 1450px;
    background: url("img/background.png");
    background-size: cover;
    height: 1833px;
}

#heading h1 {
    text-align: center;
    font-size: 24px;
    color: #212035;
    font-weight: bold;
    padding: 30px 0 45px 0;
}

#heading p {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 50px;
}

#filter .filter_wrapper {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
}

#filter .filter_wrapper select {
    width: 300px;
    /*height: 40px;*/
    position: relative;
    font-size: 17px;
    padding: 6px 20px 10px 30px;
    border-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("img/triangle.png") right center no-repeat #fff;
    cursor: pointer;
}

#filter .filter_wrapper select:nth-child(1){
    color: #ff5a6a;
}

#filter .filter_wrapper select:nth-child(1){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#filter .filter_wrapper select:nth-child(3){width: 330px;}

#filter .filter_wrapper .line {
    display: inline-block;
    border: 0.8px solid #cfcfcf;
    height: 30px;
    position: absolute;
    left: 32.5%;
    top: 10%;
    z-index: 10;
}

#filter .filter_wrapper .line1 {
    display: inline-block;
    border: 0.5px solid #cfcfcf;
    height: 30px;
    position: absolute;
    right: 33%;
    top: 10%;
    z-index: 10;
}

#filter select:nth-child(4){
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none
}

.price_list {margin-top: 45px}

.price_list .price_list_wrapper {
    max-width: 835px;
    margin: 0 auto;
    height: 85px;
}

.price_list .price_list_wrapper .price_block {
    float: left;
    width: 34%;
    background-color: #3e3ae7;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    letter-spacing: 3px;
    height: inherit;
}

.price_list .price_list_wrapper .price_block h1 {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.price_list .price_list_wrapper .price_block p {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}

.price_list .price_list_wrapper .discount_block {
    float: left;
    width: 66%;
    background-color: #fff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: inherit;
}

.price_list .price_list_wrapper .discount_block .discount {
    float: left;
    height: inherit;
    width: 57%;
}

.price_list .price_list_wrapper .discount_block p {
    font-size: 24px;
    color: #1a231f;
    padding: 27px 0 30px 25px;
}

.price_list .price_list_wrapper .discount_block p span {
    color: #00bf90;
    font-weight: bold;
}

.price_list .price_list_wrapper .discount_block .btn {
    width: 43%;
    float: left;
    height: inherit;
}

.price_list .price_list_wrapper .discount_block button {
    border: none;
    background-color: #ff5a6a;
    border-radius: 17px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 25px;
    letter-spacing: 2px;
    margin: 22px 0 0 30px;
    transition: 0.3s;
}

.price_list .price_list_wrapper .discount_block button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.img_white_size {
    width: 17px;
    height: 20px;
}

.img_green_size {
    width: 14px;
    height: 18px;
}